.form {
  padding: 10px;
}

.profile {
  position: relative;
}

.add-btn {
  position: absolute;
  bottom: -27.5px;
  left: 160px;
  color: #26a69a;
}

.add-btn i {
  position: absolute;
  left: 16.25px;
}

.username, {
  text-align: center;
}

.events-title {
  font-size: 1.1rem;
  text-align: center;
}

.btn-text {
  color: white;
  text-align: center;
}

/*.logout-btn {
  padding: 12px;
}*/

.list-item {
  border: 1px solid #eee;
}

.list-events {
  margin-top: 5px;
}

.side-nav .style-btn {
  height: 30px;
  line-height: 30px;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.chip {
  margin-right: 5px;
  margin-bottom: 5px;
}

/*.chat {
  position: relative;
}

.write-btn {
  position: absolute;
  top: 59px;
  left: 25px;
}*/

.chat .collection {
  border-style: none;
}

.chat h4 {
  margin: 0 1rem;
}
