<!-- views/signup.ejs -->
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Evently Signup</title>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/lib/Materialize/dist/css/materialize.css">
    <script src="/lib/Materialize/dist/js/materialize.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      body {
        padding-top:80px;
      }
      .container {
        margin: 0 auto;
        width: 400px;
      }
      .alert {
        font-size: 1.1em;
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <h1>Signup</h1>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <!-- LOGIN FORM -->
        <div class="row">
          <form class="col s12" action="/signup" method="post">
            <div class="row">
              <div class="input-field col s12">
                <input value='' name="username" id="username" type="text" class="validate">
                <label class="active" for="username">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input value='' name="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">send</i>Signup</button>
          </form>
        </div>
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>
  </body>
</html>
